header {
    background-color: #333;
    color: white;
    padding: 15px 0;
    text-align: ce;
    }

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    }

nav a:hover {
    text-decoration: underline;
    }

.card{
    margin:0 auto;
    max-width: 40rem;
    width: 100%;
}

.imagen{
    float: right;
    margin: 2opx;
}