body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    }

header {
    background-color: #333;
    color: white;
    padding: 15px 0;
    text-align: ce;
    } 

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    }

nav a:hover {
    text-decoration: underline;
    }

.contenido {
    text-align: center;
    padding: 50px;
    }
        
.contenido img {

    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    }
        
.contenido h1 {
    font-size: 48px;
    margin-top: 30px;
    color: #333;
    }



   